.blog-content {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #0F0F0F;
}

.blog-content p {
    margin-bottom: 24px;
}

.blog-content h2 {
    margin-top: 48px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.blog-content h3 {
    margin-top: 36px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

.blog-content ul,
.blog-content ol {
    margin: 24px 0;
    padding-left: 28px;
}

.blog-content li {
    margin-bottom: 10px;
}